*.ini
material_complementar/Engenharia_de_Software_-_Roger_S.Pressman_-_Engenharia_de_Software_7°_Edição_-_Uma_Abordagem_Profissional.pdf
material_complementar/Engenharia_de_Software_-_Software-engineering-theory-and-practice-fourth-ed.pdf
material_complementar/Engenharia_de_Software_-_Sommerville_-_6_edicao_-_2004_.pdf
video_aulas/Engenharia_de_Software_Aula_01.webm
video_aulas/Engenharia_de_Software_Aula_02.webm
video_aulas/Engenharia_de_Software_Aula_05.webm
video_aulas/Engenharia_de_Software_Aula_06.webm
video_aulas/Engenharia_de_Software_Aula_09.mp4
video_aulas/Engenharia_de_Software_Aula_09.webm
video_aulas/Engenharia_de_Software_Aula_10.webm
video_aulas/Engenharia_de_Software_Aula_11.mp4
video_aulas/Engenharia_de_Software_Aula_11.webm
video_aulas/Engenharia_de_Software_Aula_12.mp4
video_aulas/Engenharia_de_Software_Aula_12.webm
video_aulas/Engenharia_de_Software_Aula_13.mp4
video_aulas/Engenharia_de_Software_Aula_13.webm
video_aulas/Engenharia_de_Software_Aula_14.webm
video_aulas/Engenharia_de_Software_Aula_15.webm
video_aulas/Engenharia_de_Software_Aula_16.webm
video_aulas/Engenharia_de_Software_Aula_17.webm
video_aulas/Engenharia_de_Software_Aula_18.webm
